In [26]:
import os
os.chdir(r"C:\Mohit\Imperial\fyp-hearts")

In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import utils

In [28]:
datafolder = os.getcwd()+'/datasets/PTB-XL/'
data, raw_labels = utils.load_dataset(datafolder, 100)

In [29]:
raw_labels.dropna(subset=['weight','age', 'sex', 'height'])['strat_fold'].value_counts()

9     692
1     683
2     681
10    678
6     677
7     676
3     673
4     669
5     669
8     650
Name: strat_fold, dtype: int64

In [30]:
raw_labels['strat_fold'].value_counts()

10    2198
3     2192
9     2183
2     2181
7     2176
1     2175
5     2174
4     2174
8     2173
6     2173
Name: strat_fold, dtype: int64

In [31]:
raw_labels.dropna(subset=['weight','age', 'sex', 'height'])

,patient_id,age,sex,height,weight,nurse,site,device,recording_date,report,...,validated_by_human,baseline_drift,static_noise,burst_noise,electrodes_problems,extra_beats,pacemaker,strat_fold,filename_lr,filename_hr
ecg_id,,,,,,,,,,,,,,,,,,,,,
101,9086.0,48.0,1,172.0,72.0,0.0,0.0,CS-12 E,1985-12-11 11:50:40,sinusrytm normalt ekg,...,True,NaN,", I-AVF,",NaN,NaN,NaN,NaN,4,records100/00000/00101_lr,records500/00000/00101_hr
116,19695.0,49.0,1,174.0,74.0,2.0,0.0,CS-12 E,1986-01-10 14:00:09,sinusrhythmus linkstyp unspezifisches abnormal...,...,True,NaN,", I,III-AVR,",NaN,NaN,NaN,NaN,10,records100/00000/00116_lr,records500/00000/00116_hr
136,13445.0,52.0,0,167.0,72.0,NaN,3.0,CS-12 E,1986-02-21 16:49:02,sinusrytm normalt ekg,...,True,NaN,NaN,NaN,NaN,NaN,NaN,5,records100/00000/00136_lr,records500/00000/00136_hr
146,13447.0,45.0,0,182.0,90.0,NaN,3.0,CS-12 E,1986-02-23 11:41:43,sinusrytm ospecifikt skÄnkelblock avvikande qr...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,7,records100/00000/00146_lr,records500/00000/00146_hr
156,19547.0,49.0,1,159.0,70.0,NaN,3.0,CS-12 E,1986-03-05 08:34:41,sinusrytm avvikande qrs(t) fÖrlopp inferior...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,7,records100/00000/00156_lr,records500/00000/00156_hr
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20943,8542.0,52.0,0,174.0,80.0,1.0,2.0,CS-12,1999-12-18 17:15:19,sinusrhythmus lagetyp normal unspezifische abn...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,10,records100/20000/20943_lr,records500/20000/20943_hr
20970,18531.0,58.0,0,168.0,74.0,1.0,2.0,AT-60 3,2000-01-04 09:17:10,sinustachykardie p-sinistrocardiale linkstyp p...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,6,records100/20000/20970_lr,records500/20000/20970_hr
21040,18531.0,58.0,0,168.0,74.0,1.0,2.0,AT-60 3,2000-01-22 09:04:39,sinusrhythmus a-v block i p-sinistrocardiale l...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,6,records100/21000/21040_lr,records500/21000/21040_hr
21106,9502.0,47.0,1,160.0,50.0,1.0,2.0,AT-60 3,2000-05-19 11:38:28,sinusrhythmus lagetyp normal normales ekg 4.46...,...,True,NaN,NaN,NaN,NaN,NaN,NaN,1,records100/21000/21106_lr,records500/21000/21106_hr
21344,15901.0,57.0,1,168.0,97.0,1.0,2.0,CS-12,2000-09-10 12:20:36,sinusrhythmus lagetyp normal normales ekg,...,True,NaN,NaN,NaN,NaN,NaN,NaN,1,records100/21000/21344_lr,records500/21000/21344_hr

In [32]:
nan_indices = np.where(pd.isnull(raw_labels[['weight','age', 'sex', 'height']]))[0]
np.delete(data, nan_indices, axis=0).shape

(6748, 1000, 12)

In [33]:
raw_labels['age']

ecg_id
1         56.0
2         19.0
3         37.0
4         24.0
5         19.0
         ...
21833     67.0
21834    300.0
21835     59.0
21836     64.0
21837     68.0
Name: age, Length: 21799, dtype: float64

In [34]:
arr = data[~np.isnan(raw_labels['age']) & ~np.isnan(raw_labels['sex'])]
arr.shape

(21799, 1000, 12)

In [35]:
labels, data = utils.select_subset(raw_labels, data)

In [36]:
demographics = np.array(labels[['weight','age', 'sex', 'height']])

In [37]:
from models.wavelet_demo import get_ecg_features

In [38]:
X_values = get_ecg_features(data)

In [39]:
X_values.shape

(6748, 864)

In [40]:
demographics.shape

(6748, 4)

In [41]:
np.concatenate((X_values, demographics), axis=1).shape

(6748, 868)